<h1>Singles</h1>

<% @singles_groups.each do |group, competents| %>
  <%= content_tag :h2, group %>

  <table>
    <tr>
      <th>Name</th>
      <th>Win count</th>
      <th>Ball advantage</th>
    </tr>
  <% competents.each do |competent| %>
    <tr>
      <td><%= competent[:name] %></td>
      <td><%= competent[:win_count].to_s.strip.empty? ? '0' : competent[:win_count] %></td>
      <td><%= competent[:ball_advantage].to_s.strip.empty? ? '0' : competent[:ball_advantage] %></td>
    </tr>
  <% end %>
  </table>

<%- end %>

<h1>Doubles</h1>

<% @doubles_groups.each do |group, competents| %>
  <%= content_tag :h2, group %>

  <table>
    <tr>
      <th>Name</th>
      <th>Win count</th>
      <th>Ball advantage</th>
    </tr>
  <% competents.each do |competent| %>
    <tr>
      <td><%= competent[:name] %></td>
      <td><%= competent[:win_count].to_s.strip.empty? ? '0' : competent[:win_count] %></td>
      <td><%= competent[:ball_advantage].to_s.strip.empty? ? '0' : competent[:ball_advantage] %></td>
    </tr>
  <% end %>
  </table>

<%- end %>